<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" type="text/css" rel="stylesheet" />
    <title>Paper-List</title>
</head>
<body>
<div th:insert="menu"></div>
<div class="main">
    <div th:insert="header"></div>
    <table border="1" width="90%" align="center" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Paper Title</th>
            <th>Conference Title</th>
            <th>Submitter-Email</th>
            <th>Submitting-Date</th>
            <th>ACTION</th>
        </tr>
        <tr th:each="paper: ${papers}">
            <td th:text="${paper.id}"></td>
            <td th:text="${paper.paper_title}"></td>
            <td th:text="${paper.conference_title}"></td>
            <td th:text="${paper.submitter_email}"></td>
            <td th:text="${paper.date_submit}"></td>
            <td> <a th:href="${'/admin/paper-detail/'+paper.id}">Details</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>