<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" type="text/css" rel="stylesheet" />
    <title>Users List</title>
</head>
<body>
<div th:insert="menu"></div>
<div class="main">
    <div th:insert="header"></div>
    <table border="1" width="90%" align="center" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>ACTION</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">SR</td>
            <td th:text="${user.fName}">ID</td>
            <td th:text="${user.lName}">COURSE</td>
            <td th:text="${user.email}">FEES</td>
            <td th:text="${user.role}">INSTITUTE</td>
            <td> <a th:href="${'/admin/user-delete/'+user.id}">Delete</a> | <a th:href="${'/admin/make-user-admin/'+user.id}">Make Admin</a>
                | <a th:href="${'/admin/make-user-reviewer/'+user.id}">Make Reviewer</a> | <a th:href="${'/admin/make-user-author/'+user.id}">Make Author</a>
                | <a th:href="${'/admin/user-details/'+user.id}">Details</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>